node_modules
npm-debug.log
vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
.vagrant
.git
.gitignore
.gitattributes
.editorconfig
.idea
.vscode
*.log
storage/*.key
.phpunit.cache
tests
phpunit.xml
.github
.claude
README*.md
*.md
!docker/*.md
